In [6]:
## Line Continuation

sum_of_num = 1+2+3+4+5+\
6+7

print(sum_of_num)

28

In [7]:
a=3;b=4;c=a+b
c

7

In [9]:
age = 22
name = 'Hiren'

print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [13]:
#NAME ERROR
''' 
Let say we haven't defined variable b yet and try to do 

fir_var = sec_var (Here we just defined fir_var but not sec_var that gives an error of name : sec_var not defined)

'''

# fir_var = sec_var

" \nLet say we haven't defined variable b yet and try to do \n\nfir_var = sec_var (Here we just defined fir_var but not sec_var that gives an error of name : sec_var not defined)\n\n"

In [15]:
a = 100
a

100

In [18]:
age = 22
name = 'Hiren'
height = 5.10
got_job = True 

# age , name, height and got_job are the declaration of the variables and 32, Hiren , 5.10 and True are the assignment of value to variables

print("Age is ",age)

Age is  22

In [19]:
_my_age = 12
print(_my_age)

12

In [20]:
__my_age = 22
print(_my_age)

12

In [21]:
__nn__ = 12
print(__nn__)

12

In [25]:
print(type(12))
print(type('Hire'))
print(type(True))
print(type(12.12))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [27]:
## Type Conversation

my_age = 12 
print(type(my_age))
my_new_age = str(my_age)
print(type(my_new_age))

<class 'int'>
<class 'str'>

In [30]:
age_in_str = '12'
print(type(age_in_str))

con_str_to_int = int(age_in_str)
print(type(con_str_to_int))

<class 'str'>
<class 'int'>

In [33]:
my_age_str = '22'
print(type(my_age_str))
my_age_con_int = int(my_age_str)
print(type(my_age_con_int))

<class 'str'>
<class 'int'>

In [ ]:
aa = "Hiren"
print(type(aa))

bb = int(aa)  # NOT VALID OPERATION
# print(bb)
# print(type(int(aa)))  # NOT VALID

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Hiren'

In [39]:
hh = 5.1
print(type(hh))
hh_int = int(hh)
print(type(hh_int))
hh_int

<class 'float'>
<class 'int'>

5

In [44]:
a = 12
print(a, type(a))

a= "1.2"
print(a, type(a))

a= 1.2
print(a, type(a))

a = False 
print(a , type(a))

12 <class 'int'>
1.2 <class 'str'>
1.2 <class 'float'>
False <class 'bool'>

In [48]:
print(type(input()))

<class 'str'>

In [52]:
age = int(input("wass yo age nigga ?"))

print(age , type(age))

## Here giving string value will give an error

2 <class 'int'>

In [54]:
## Calculator

num1 = float(input("add first number :  "))
num2 = float(input("add second number :  "))

print(num1 + num2 )
print(num1 - num2 )
print(num1 / num2 )
print(num1 * num2 )

5.2
-0.7999999999999998
0.7333333333333334
6.6000000000000005

In [65]:
a = int()
print(a)

b =str()
print('value of ',b)

c = bool()
print(c)

d = float()
print(d )

0
value of
False
0.0

In [67]:
a = 4
b= 4
print(a == b)
print(type(a==b))

True
<class 'bool'>

In [ ]:
# common error
# a = "Hello"  + 5
# print(a)


# fix
a = "Hello" + str(4)

print(a)

Hello4

In [72]:
# Arithmetic ops

a = 4
b= 3

print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a//b)
print(a**b)
print(a%b)

7
1
1.3333333333333333
12
1
64
1

In [74]:
print(21/4)
print(21//4)

5.25
5

In [86]:
a = 4 
b= 4 
print("for a and b ",a==b)

c = "Hiren"
d = "Hiren"

print("for c and d ",c==d)

cc = "Hiren"
dd = "hiren"
print("For cc and dd",cc != dd)

ff = 33
gg = 44
print("For ff > gg", ff>gg)
print("For gg > ff", gg > ff)

print("For ff < gg", ff<gg)
print("For gg < ff", gg < ff)

for a and b  True
for c and d  True
For cc and dd True
For ff > gg False
For gg > ff True
For ff < gg True
For gg < ff False

In [97]:
# AND 
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [100]:
# OR 
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [104]:
#OR
print(not True)
print(not False)

False
True

In [111]:
a = float(input("Enter first value : "))
b = float(input("Enter second value : "))
print("a is ",a)
print("b is ",b)
print("a + b = ",a+b)
print("a - b = ",a-b)
print("a * b = ",a*b)
print("a / b = ",a/b)
print("a % b = ",a%b)
print("a ** b = ",a**b)
print("a // b = ",a//b)
print("a and b = ",a and b)
print("a or b = ",a or b)
print("not a  = ",not a)
print("not b  = ",not b)

a is  3.0
b is  44.0
a + b =  47.0
a - b =  -41.0
a * b =  132.0
a / b =  0.06818181818181818
a % b =  3.0
a ** b =  9.847709021836112e+20
a // b =  0.0
a and b =  44.0
a or b =  3.0
not a  =  False
not b  =  False

In [126]:
print(3 or 5)
print(5 or 3)
print(3 and 5)
print(5 and 3)

print(1 or 2 or 3)
print(1 and 2 and 3)
print(1 and 2 or 3)
print(1 or 2 and 3)

print(False and False or True)

3
5
5
3
1
3
2
1
True

In [ ]:
# Operator preceding

In [15]:
age =22

if age >= 18:
    print("Valid")
else:
    print("Nope")

Valid

In [20]:
age = 13

if age < 10 :
    print("Toddler")
elif age >= 10 and age <= 12 :
    print("Child")
elif age > 12 and age <20 :
    print("Teen")
else:
    print("adult")

Teen

In [36]:
num = int(input("Enter the number"))
print(f"{num} is ")
if num < 0 :
    print("Negative and ")
    if num % 2 ==0:
        print("even")
    else :
        print("odd")
elif num == 0:
    print("zero")
else :
    print("Positive and ")
    if num%2 == 0:
        print("Even")
    else :
        print("Odd")

3 is
Positive and
Odd

In [ ]:
year = int(input("Enter the year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not leap year")

Not leap year