In [14]:
print('Hello world')

Hello world

simple
easy to learn, read, understand and code
design philosophy - beautiful 
well indented 
easy going 
Batteries included - hugh number of libraries + communities

    "Do not reinvented the wheel, make a car"
General purpose programming language

python is slow - solution : numpy, pandas etc libraries

In [15]:
print('Hello world!')

Hello world!

In [16]:
print('I win.')

I win.

case sensitive language

In [17]:
print(6)

6

In [18]:
print(3.4)

3.4

In [19]:
print(True)

True

In [20]:
print(False)

False

In [21]:
print('Hello',1,2.3,False)

Hello 1 2.3 False

sep has a default value of space

In [22]:
print('One',2,3.4,sep=' &&&& ')

One &&&& 2 &&&& 3.4

In [23]:
print('Hello')
print('World')

Hello
World

In [24]:
print('Hellolllll',end='0000')
print('WOlrd')

Hellolllll0000WOlrd

the default value of end is \n - new line

Python works with integer up to e power 308

float - up to e power 307

boolean - 

String

complex number

List

tuple

set

dictionary

In [25]:
print(8)

8

In [27]:
print(800000000000000008000000000000000080000000000000000800000000000000008000000000000000080000000000000000)

800000000000000008000000000000000080000000000000000800000000000000008000000000000000080000000000000000

In [29]:
print(1e308)

1e+308

In [35]:
print(3.4e308)
print(3.4e307)

inf
3.4e+307

In [36]:
print(True + False)

1

In [37]:
print('String')

String

In [38]:
print(5+6j)

(5+6j)

In [40]:
print([1,2,3,4])

[1, 2, 3, 4]

In [41]:
print((1,2,3,4))

(1, 2, 3, 4)

In [43]:
print('Set - ',{1,2,3,4})

Set -  {1, 2, 3, 4}

In [46]:
print('Dictionary - ', {'Name' : 'Hiren', 'Wealth' : 1e308})

Dictionary -  {'Name': 'Hiren', 'Wealth': 1e+308}

print()
type()

In [47]:
type(True)

bool

In [48]:
type([1,2,3])

list

In [49]:
type({'a':'asd'})

dict

In [51]:
type(2e308)

float

variables that we use for storing the values that varies - it can be from user or from some calculation , but most likely to change or not remaining constant (although we can put constant values in them as well)

In [52]:
name = "Hiren"

In [53]:
name

'Hiren'

In [54]:
print(name)

Hiren

In [55]:
type(print())

NoneType

Dynamic Typing - In other languages we need to declare the data type of the variable , but not in python

Static Typing - We need to declare the data type like c, cpp , java

Dynamic Binding - we created a variable age and gave it a numeric value then we gave it a string value, python support both and it changes the values and type at the run time of program

Static Binding - Once we declare the variable with its data type explicitly in languages like c, cpp, java it only holds the values of same data types

In [58]:
age = 12

print(age)
print(type(age))

age = 'Hiren'

print(age)
print(type(age))

12
<class 'int'>
Hiren
<class 'str'>

In [59]:
a= 4
b = 5
c= 6

print(a,b,c)

4 5 6

In [60]:
a,b,c = 3,4,5

In [61]:
print(a,b,c)

3 4 5

In [64]:
a = b= c =9
print(a,b+c,c+a)

9 18 18

In [66]:
# One liner

' \ntwo \nliner\n\n'

In [70]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

identifiers

- reserved keywords cannot be used as an identifiers
- do not start with digit
- uppercase and lowercase
- _ is the only character that is allowed

In [71]:
1name = 'haha'

SyntaxError: invalid decimal literal (524203832.py, line 1)

In [72]:
name1= 'haha'

In [73]:
name1

'haha'

In [74]:
first_name = 'Hiren'

In [75]:
first_name

'Hiren'

In [76]:
_ = 'name is _'

In [77]:
_

'name is _'

static softwares - just informative , clock (not alarm) , most of the blogs

dynamics softwares - youtube, ola, uber, zomato - takes the input - process - gives the result

In [78]:
input()

'asd'

In [79]:
input('naam bata ')

'naam nai bataunga'

In [87]:
fn  = int(input('enter the first number : '))
sn  = int(input('enter the second number : '))
result = fn + sn
print(result)

7

type conversion

implicit - by the interpreter 

explicitly - by the programmer using few functions/methods 

int() , str()

- we cannot convert complex number to int or float


Although python type conversation does not changes the original value, rather it creates the copy

In [88]:
print(5 + 5.6)

10.6

In [91]:
print('Hiren' + 3)
print('Hiren' + str(3))

TypeError: can only concatenate str (not "int") to str

In [94]:
print(3 + int(5+6j))
print(3 + float(5+6j))

TypeError: float() argument must be a string or a real number, not 'complex'

In [97]:
print(bool(1))

True

In [101]:
aa = input('ad num - ')
print(type(aa))


print(type(int(aa)))

<class 'str'>
<class 'int'>

Literals - the values we store in variables 

age = 12 where age is variable , = is operator, 12 is literal

In [102]:
bool_lit = 0b1010
print('boolean literal ' ,bool_lit)

boolean literal  10

In [103]:
decimal_lit = 300

print('decimal literal' ,decimal_lit)

decimal literal 300

In [106]:
complex_lit = 4+5.6j

print('complex literal = ',complex_lit)

print(complex_lit.real)
print(complex_lit.imag)

complex literal =  (4+5.6j)
4.0
5.6

python consider 0 as a false and 
any none zero a true

In [108]:
print(True + 4)
print(10 - True + False)

5
9

None is useful if we want to declare the variable without using it at the same moment, we can use None as a value and we do not have to use it immediately